 <mat-radio-group>
    <mat-radio-button class="male" value="1">Male</mat-radio-button>
    <mat-radio-button class="female" value="2">Female</mat-radio-button>
</mat-radio-group>
<mat-card>
    <img mat-card-image src="admin/src/assets/images/walker.jpg" alt="Walker">
    
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Paul Walker</mat-card-title>
        <mat-card-subtitle>Actor</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-actions class="buttons">
        <button mat-button>More</button>
        <button mat-button class="like"><i class="fa fa-heart"></i></button>
    </mat-card-actions>
</mat-card>

