/* mat-card css for actors */

mat-radio-group {
  position: relative;
  top: 25px;
  left: 60px;
}

.male {
  margin-right: 30px;
}

mat-card  {
  margin: 90px 60px;
  width: 320px;
  height: 370px;
  background: #eee;
  border-radius: 5px;
}

.mat-card-image {
  position: relative;
  display: block;
  top: 25px;
  margin: 0px auto 10px;
  height: 40%;
  width: 50%;
  border-radius: 50%;
}

.mat-card-header {
  display: block;
  position: relative;
  top: 35px;
  width: 100%;
  text-align: center;
}

.header-image.mat-card-avatar {
  height: 0px;
  width: 0px;
}

.mat-card-actions {
  padding: 0px 80px;
}

mat-card-actions.buttons.mat-card-actions {
  position: relative;
  top: 160px;
}

.like i {
  font-size: 20px;
  color: red;
}

.addactor a {
  position: absolute;
	top: 10px;
	right: 10px;
	color: #ffd400;
	outline: unset;
}

.addactor i {
  padding: 4px;
	font-size: 30px;
	border: 1px solid grey;
	border-radius: 50%;
	box-shadow: 1px 1px 3px 1px grey;
	width: 30px;
	text-align: center;
	background: #A4B1AD;
}

/* search field css */
 
form {
  position: absolute;
  left: 30%;
  top: 30px;
}

.inputbox input {
  border: 0;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  transform: translateX(-50%);
  box-shadow: 0px 0px 1px 1px black;
  cursor: pointer;
  transition: width 0.4s ease-in-out, padding 0.2s;
  transition-delay: 0s, 0.4s, 0s;
}

.inputbox .delete {
  position: absolute;
  top: -42%;
  left: -44%;
  transform: translate(-50%, -50%);
  border: 0;
  color: black;
  cursor: pointer;
  transition: left 0.4s ease-in-out;
  transition-delay: 0s;
}

.inputbox .delete::before {
  content: '';
  position: absolute;
  left: -11px;
  top: -2px;
  width: 1px;
  height: 11px;
  transform: translate(32px, 32px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition-delay: 0.6s;
  background: currentColor;
}

.inputbox .delete::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  background: currentColor;
  transform: translate(32px, 32px) translate(-50%, -50%) rotate(-45deg) scaleY(0);
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition-delay: 0.4s;
}

.inputbox input:focus {
  position: relative;
  top: -7px;
  width: 500px;
  border: none;
  border-radius: 0;
  cursor: text;
  outline: 0;
}

.inputbox input:focus + .delete::before {
  top: 12px;
  height: 25px;
  transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
  transition-delay: 0.1s;
}

.inputbox input:focus + .delete::after {
  top: 12px;
  right: 9px;
  height: 25px;
  transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
  transition-delay: 0.1s;
}

.inputbox input:focus + .delete {
  left: calc(100% - 45px);
  transition-delay: 0.1s;
}

.inputbox .delete:focus {
  outline: none;
}


