* {margin: 0; padding: 0;}

mat-toolbar {
    position: relative;
	padding: 0;
	height: 65px;
    background-color: #e4e4e4;
    box-shadow: 0px 0px 5px -1px grey;
    z-index: 1;
}

form {
    position: absolute;
    right: 5px;
    bottom: 30px;
    font-size: 30px;
    outline: 0;
}

form a {
    color: #f7ab00;
    outline: 0;
}

div {
	background-color: #f7ab00;
}

div a {
	display: block;
	width: 200px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-size: 25px;
	color: whitesmoke;
	text-decoration: none;
	outline: unset;
}